*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
ul, ol, li {
    list-style: none;
}
p{
    margin: 0;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    background: #faf7f1;
}
.container{
padding: 50px 60px;
background: #f5efe4;
}
.title-text{
    border-bottom: 1px solid #757067;
    font-size: 4em;
}
.accordion-item{
    padding: 15px 0px;
    border-bottom: 1px solid #757067;
    cursor: pointer;
}
.accordion-item-img{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: none;
    transition: all 2s;
    padding: 10px;

}

.accordion-item-icon{
    width: 0.6em;
    height: 0.6em;
    display: none;
}
.item-img{
    width: 100%;
    object-fit: cover;
    transition: all 0.8s;
}
.item-img:hover{
    transition: all 0.8s;
}
.item-input{
    appearance: none;
}
.item-input:checked + .accordion-item-img{
    display: block;
    transition: all 1s;

}

.accordion-item-text{
    font-size: 2em;
    transition: all 0.6s;
    justify-content: space-between;
    align-items: center;
    color: rgb(28, 96, 223);
}
.accordion-item-text:hover{
    color: rgb(41, 41, 41);
    transition: all 1s;
}
.accordion-item:hover .accordion-item-img{
    display: block;
    transition: all 1s;
    transform: scale(1.1);
}

.accordion-item:hover  .accordion-item-icon{
    transform: rotate(45deg);
    transition: all 1s;
}
.wrapper-accordion:hover .accordion-item-icon{
    display: block;
}
.wrapper-accordion:hover .accordion-item-text{
    color: rgb(41, 41, 41);
}
.item-input:checked + .accordion-item-icon{
    transform: rotate(45deg);

}